080_scripts_generic/*/data
080_scripts_generic/*/lib
080_scripts_generic/*/.ELAN2TEI
102_derived_tei/tmp*
.DS_STORE
scripts/*
**/.env
.ipynb_checkpoints
**/postTokenization/*
102_derived_tei/*/**
080_scripts_generic/080_01_ELAN2TEI/ELAN2TEI.py
102_derived_tei/table_cell_num_mapping.json
