
body { font-size: 14pt; }

@media screen and (max-width: 600px) {
  body {
    background: rgb(255,156,123);
    font-size: 18pt;
  }
}

a {
text-decoration: none;
}

p {
margin-top: 5px;
margin-bottom: 5px;
width: 700px;
}

table {
border: 6px ridge rgb(189,189,255);
border-collapse: separate;
background: rgb(237,234,255);
font-size: 14pt;
width: 700px;
border-spacing: 0px;
}

td {
border-collapse: collapse;
border: 1px dotted black;
padding-left: 2px;
vertical-align: top;
}

.head1,.head2,.head3,.head4,.head5,.head6,
.head1_,.head2_,.head3_,.head4_,.head5_,.head6_ {
background: rgb(189,189,255);
border: 1px solid rgb(0, 83, 165);
margin-top: 10px;
margin-bottom: 10px;
padding-left: 3px;
padding-top: 1px;
padding-bottom: 1px;
width: 700px;
}

.spArrow {
background: white;
border: 1px dotted black;
color: rgb(153,49,255);
}

.aHeader {
color: rgb(0, 83, 188);
text-decoration: none;
font-weight: bold;
}

.aGoToContents {
color: rgb(0, 83, 188);
text-decoration: none;
margin-left: 40px;
font-size: 12px;
font-weight: bold;
border: 1px solid blue;
padding-left: 5px;
padding-right: 5px;
}

.anBlock {
border: 0.5px solid rgb(189,189,255);
background:rgb(255,128,0);
padding: 5px 5px 5px 5px;
margin-bottom:2px;
}

.pAr {
background: white;
}

.pNorm {
background: white;
}

.w {
border: 0.3px solid rgb(156,156,255);
color:red;
}

.wAssigned {
border: 0.3px solid rgb(156,156,255);
color:green;
}

.dvTrans {
border: 1px solid blue;
margin-top:5px;
background: yellow;
}
