[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-resources = "*"
importlib_metadata = "*"
jupyter = "*"
jupyterlab = "*"
lxml = "*"
nbconvert = "*"
pandas = "*"
pexpect = "*"
requests = "*"
saxonche = "12.9.0"
sharepy = "*"
zipp = "*"

[dev-packages]

[requires]
python_version = "3.13"
