name: Validate Corpus files
on:
  push: {}
  repository_dispatch:
    types: [run]
  workflow_dispatch: {}
jobs:
  build:
    name: Validate Corpus files
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          path: main
      - name: Checkout gh_pages
        uses: actions/checkout@v5
        with:
          ref: gh_pages
          path: gh_pages
      - name: Get python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: "pipenv"
      - name: Validate Corpus files
        run: |
          python --version
          python -m pip install pipenv
          cd main/080_scripts_generic
          pipenv install
          pipenv run jupyter nbconvert --to script validate_corpus_and_dict.ipynb
          GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} pipenv run python validate_corpus_and_dict.py
      - name: Commit errors to gh_pages
        run: |
          cp main/080_scripts_generic/tmp/validationReport.html gh_pages/index.html
          cd gh_pages
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add *.html
          git commit -m "New validation results" -a || true
      - name: Push changes back to GitHub
        uses: ad-m/github-push-action@master
        with:
          branch: gh_pages
          directory: gh_pages